* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//--- Import Helper Pages
@import "./helper/_variables";
@import "./helper/_responsive";
@import "./helper/functions";

//--- Import Pages
@import "./propertys/_mp";
@import "./propertys/_flex";
@import "./propertys/_grid";