$gridBoundary: 12;
$gridBetweens: 0, 10, 20;

$grid-lr: 1024;
$grid-md: 800;
$grid-sm: 450;

$displayList: "flex", "block", "inline-block", "inline", "none";
$justifyContent: "center", "space-between", "flex-start", "flex-end";
$alignItems: "center", "flex-start", "flex-end";